:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #1E293B;
  background-color: #E5E5E5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

.logo {
  width: 2rem;
  height: 2rem;
}

input {
  text-align: left;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  height: 2rem;
  width: 63.75rem;
  border-radius: 10px;
  border: none;
  background: #F1F5F9;
  padding: 0.5em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

.cards {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

a:hover {
  color: #535bf2;
}

@media screen and (max-width: 1120px) {
  input {
    width: 40.9rem;
  }

  .cards {
    flex-direction: wrap ;
  }
}

@media screen and (max-width: 875px) {
  input {
    width: 20.9rem;
  }

  .cards {
    flex-direction: column ;
  }
}